services:
    pytest:
        build:
            context: .
            dockerfile: Dockerfile
        privileged: true
        environment:
            TZ: UTC
        volumes:
            - ./:/var/project
        command: uv run pytest
