name: Check Changelog
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main
jobs:
  check-changelog:
    name: Check Changelog Action
    runs-on: ubuntu-latest
    steps:
      - uses: bulv1ne/changelog-check-action@v2
        with:
          changelog-file: CHANGELOG.md
