# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  code-quality:
    name: Code quality ${{ matrix.code_command }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ['3.8']
        code_command: [flake8, isort, black, mypy]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip poetry
        poetry install
    - name: Run ${{ matrix.code_command }}
      run: |
        poetry run ${{ matrix.code_command }} .

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Docker build test image
      env:
        DATABRICKS_CONNECT: ${{ secrets.DATABRICKS_CONNECT }}
        TEST_DIR: ${{ secrets.TEST_DIR }}
      run: |
        echo "$DATABRICKS_CONNECT" > .databricks-connect
        echo "TEST_DIR=$TEST_DIR" > .env
        docker-compose build pytest
    - name: Databricks connect test
      run: |
        docker-compose run pytest databricks-connect test
      if: false # fails currently because of DATABRICKS_CONNECT secret missing
    - name: Test
      run: |
        docker-compose run pytest
      if: false # fails currently because of DATABRICKS_CONNECT secret missing
